<!DOCTYPE html>
<html lang="en-US">
<body>
<h1>{{ entry.title }}</h1>
This is the index
<h3>{{ entry.blogTitle }}</h3>

<p>Posted on {{ entry.blogDate.format('M d, Y') }}</p>

{{ entry.blogBody }}


<h3>{{ entry.blogTitle }}</h3>


{% set assets = entry.blogImage.first() %}
{% if assets | length %}
  {% for asset in assets %}
    <img src="{{ asset.getUrl() }}" width="{{ asset.getWidth('blogTransform') }}" height="{{ asset.getHeight('blogTransform') }}">
  {% endfor %}
{% endif %}
  







</body>
</html>